@import "../../variables.scss";

#items-list-container {
    background-color: $white;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 30px;
}


#item-element {
    display: flex;
    padding: 15px;
    border-bottom: 2px solid $main-gray;
    border-radius: 2px;
    .item-element-image {
        width: 20%;

        figure {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    
    .item-element-info {
        width: 80%;
        display: flex;
        .item-element-details {
            width: 60%;
            padding: 15px;
            .item-price {
                .price, .currency {
                    color: $font-color;
                    font-size: 24px;
                    line-height: 1.2;
                }
                .shipping-circle {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background-color: #00a650;
                    border-radius: 50%;
                }
            }
        }
        .item-element-usage {
            width: 40%;
            padding: 15px;
            color: $font-color;
            font-size: 14px;
            line-height: 1.2;
            text-align: center;
        }
    }

    @media #{$tablet-phone-breakpoint} {
        .item-element-info {
            flex-wrap: wrap;

            .item-element-details, .item-element-usage {
                width: 100%;
            }

            .item-element-details {
                padding: 10px 15px 0px 15px;
            }

            .item-element-usage {
                width: 100%;
                padding: 0px 0px 15px 15px;
                text-align: left;
            }
        }

        .item-element-image {
            width: 40%
        }
        .item-element-info {
            width: 60%;
        }
    }

    @media #{$phone-breakpoint} {
        flex-wrap: wrap;
        .item-element-info {
            flex-wrap: wrap;

            .item-element-details, .item-element-usage {
                width: 100%;
            }

            .item-element-details {
                padding: 10px 15px 0px 15px;
            }

            .item-element-usage {
                width: 100%;
                padding: 0px 0px 15px 15px;
                text-align: left;
            }
        }

        .item-element-image {
            width: 100%
        }
        .item-element-info {
            width: 100%;
        }
    }

}


.search-results .item .item__price {
    color: #333;
    font-size: 24px;
    line-height: 1.2;
    vertical-align: middle;
}

.search-results .item .item__title {
    color: #333;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
}