@import "./variables.scss";

figure {
    margin: 0;       
}
a {
    text-decoration: none;
    color : $font-color;
}
body {
    background: $main-gray;
}

.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
