$main-color : #fff159;
$main-gray : #eee;
$white : #fff;

$font-color: #333;
$secondary-gray: #666;
$main-blue : #3483fa;

$tablet-phone-breakpoint: "only screen and (min-width: 480px) and (max-width: 767px)";
$phone-breakpoint : "(max-width: 479px)";

$tablet-desktop :'(min-width: 768px)';
$tablet-large :'(min-width: 1025px)';
$desktop: '(min-width: 1200px)';
// $mobile-first-tablet :'(max-width: 768px)';