#related-category-list {
    font-size: 14px;
    color: #999;
    margin-right: 0;
    display: block;
    padding-left: 0px;

    .relate-categories-list-item {
        // margin: 0 5px;
        margin-right: 3px;
        display:inline-block;

        &:last-child {
            .category-separator {
                display: none;
            }
        }
    }
}
