@import "../../variables.scss";
#no-match {
    .no-match-container {
        height: calc(100vh - 75px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center

    }
    .no-match-text {
        color: $font-color;
        font-size: 20px;
        text-align: center;
        margin-top: 1.645em;
        padding: 0 15px;
        line-height: 1;
    }


}