@import "../../variables.scss";

#search-container {
    background-color: $main-color;
    .container {
        
        display: flex;
        padding: 15px;
    
        .logo-icon {
            width: 44px;
            margin-right: 10px;
            padding-top: 4px;
            img {
                width: 100%;
            }
        }
        .search-form {
            position: relative;
            width: 100%;
            .search-input {
                border: 0 rgba(0,0,0,.2);
                color: #333;
                font-size: 16px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                width: 100%;
                height: 100%;
                margin: 0;
                height: 32px;
                padding-left: 0px;
                padding-bottom: 6px;
                font-family: inherit;
            }
            .search-button {
                width: 36px;
                height: 42px;
                position: absolute;
                top: -1px;
                right: 0;
                background-color: $main-gray;
                border-color: $main-gray;
                border-style: solid;

                
                img {
                    width: 100%;
                    height: auto;
                
                }
            }
        }
    

    }

}