@import "../../variables.scss";

#item-container {
    
    .item-product {
        .item-image {
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }

        .item-description {
            display: none;
        }
    }

    .item-info {
        padding: 30px 30px 20px;

        .item-condition {
            font-size: 14px;
            color: $secondary-gray;
            margin-bottom: 15px;
        }

        .item-title {
            margin: 0;
            font-size: 26px;
            line-height: 1;
            padding-bottom: 2px;
            margin-bottom: 15px;
        }
        .item-price {
            display: block;
            margin-bottom: 25px;
            font-size: 44px;
            font-weight: 300;
        }

        
        .item-buy-button {
            font-size: 18px;
            font-weight: 400;
            margin: 0;
            padding: 12px;
            text-align: center;
            width: 100%;
            border-style: solid;
            border-radius: 4px;
            text-transform: capitalize;
            cursor: pointer;
        }

        .item-buy-button.primary {
            border-color: $main-blue;
            background: $main-blue;
            color: $white;
        }
        
    }
    
    @media #{$tablet-desktop}{

        display: flex;
        margin-bottom: 30px;

        .item-product {
            width: 70%;
            .item-image {
                margin-bottom: 50px;
            }
    
            .item-description {
                padding: 0 32px;
                display: block;
                color: $font-color;
                .description-title {
                    font-weight: 600;
                    font-size: 24px;
                    margin-bottom: 32px;
                    line-height: 1;
                }

                .description {
                    color: $secondary-gray;
                    font-size: 20px;
                }
            }
        }
    
        .item-info {
            width: 30%;
        }
    }
}